@import url("https://fonts.googleapis.com/earlyaccess/sawarabimincho.css")
@import url('https://fonts.googleapis.com/css?family=Work+Sans:200')
@import url('https://fonts.googleapis.com/css?family=Work+Sans:500')
@import url('normalize.css')

$main-color: #37474F
$sub-color: #607D8B
$sub-color2: #90A4AE
$sub-color3: #F7B633
$dark-green: #0F5665
$letter-gray: #555
$green: rgba(95, 158, 160, 0.9)

#body
  font-family: 'Work Sans', sans-serif
  background: #f9f8f5
  //font-family: "Sawarabi Mincho"

//共通
body
  .content__title
    margin-top: 20px
  .content__title-en
    font-family: 'Work Sans', sans-serif
    font-size: 50px
    font-weight: 200
    text-align: center
    margin-top: 12px
    margin-bottom: 3px
  .content__title-ja
    text-align: center
    font-size: 1.1em
    opacity: 0.8
    margin-top: 10px
    margin-bottom: 40px
  .content-box__wrapper
    width: 800px
    margin: -30px auto 0
    color: #333
    &.guide
      text-align: center
      font-size: 46px
      margin-top: 56px
      height: 100vh
      display: flex
      justify-content: center
      align-items: center
      opacity: .3
    &.deadline
      p
        line-height: 1.7em
        font-size: 16px
        margin-left: 20px
    &.log
      ul
        li
          line-height: 1.7em
          font-size: 16px
          margin-left: 20px
  .content-box
    border-top: 1px solid rgba(0, 0, 0, .1)
    width: 800px
    margin: 0 auto
    margin-top: 110px
    p
      line-height: 1.7em
      font-size: 16px
      margin-left: 20px
    .content-box__article
      margin-bottom: 80px
  .sub-title__wrapper
    .content__title-small
      color: rgba(95, 158, 160, 0.9) 
      margin-bottom: 15px
      border-left: 4px solid rgba(95, 158, 160, 0.9) 
      padding: 7px 15px
      font-size: 22px
      letter-spacing: 1px
      &.deadline
        margin-top: 110px
  table
    margin-top: 10px
  table, th, td
    border-collapse: collapse
    border: 1px solid rgba(0, 0, 0, .1)
    line-height: 1.5
    padding: 3px 7px 3px 7px
    font-size: 15px
    margin: 35px auto 4px
    width: 800px
    text-align: center
    padding: 5px
  tr:nth-child(even)
    background: rgba(0, 0, 0, .05)
  .emphasis_underline
    font-weight: 600
    text-decoration: underline
  .title_underline
    font-weight: 600
    display: inline-block
    border-bottom: 1px solid black
    line-height: 1.2em !important
  .content__header-section
    width: 100vw
    height: 79px
  .content__main-title
    padding: 7px 0
    background-color: rgba(95, 158, 160, 0.9)
    position: fixed
    width: 100vw
    h1
      text-align: center
      font-size: 17px
      color: white
      letter-spacing: 2px
  .common__list
    li
      list-style: none
      line-height: 1.7em
      &:last-of-type
        margin-bottom: 45px
    &.bus
      margin-top: 27px
      margin-left: 23px
      li
        line-height: 2.4em
        &:before
          content: '\f207'
          font-family: FontAwesome
          margin-right: 8px
          color: rgba(95, 158, 160, 0.9)
    &.campus_map
      margin-left: 39px
      margin-top: 4px
      li
        list-style: inherit
    &.campus_map_2
      margin-left: 21px
      margin-top: 4px
    &.access
      margin-top: 27px
      margin-left: 23px
      li
        line-height: 2em
        &:before
          content: '\f207'
          font-family: FontAwesome
          margin-right: 8px
          color: rgba(95, 158, 160, 0.9)
  ol,ul
    line-height: 1.7em    

//header
header
  border-top: 2px solid $main-color
  height: 96px
  position: fixed
  top: 0
  width: 100vw
  z-index: 9999
  background-color: rgba(0, 0, 0, .7)
  height: 77px
  .hamburger
    display: none
  .logo-img
    width: 330px
    margin: 5px 0 0 20px
  nav    
    ul.global-nav__wrapper
      font-size: 0
      list-style-type: none
      display: flex
      align-items: center
      justify-content: center
      height: 77px
      .nav__list-parent
        font-size: 14px
        color: white
        line-height: 1.7em
        display: inline-block
        padding: 28px 15px
        position: relative
        text-decoration: none
        ul
          display: none
          background: rgba(266, 266, 266, .8)
          color: #333
          top: 62px
        &:nth-of-type(8)
          ul
            top: 72px
        a.main__title
          text-decoration: none
          color: white
        &:hover
          cursor: pointer
          background-color: rgba(0, 0, 0, .1)
          color: rgba(95, 158, 160, 0.9)
          a.main__title
            color: rgba(95, 158, 160, 0.9)
          ul
            display: block
            margin-top: 15px
            width: 200px
            position: absolute
            left: 0
            li
              display: block
              padding: 3px 0 3px 15px
              a
                color: #333
                text-decoration: none            
              &:hover
                background-color: rgba(0, 0, 0, .1)

      .nav__list-parent:hover
        ul
          display: block

footer
  #footer__inner
    height: 50px
    color: white
    display: flex
    align-items: center
    justify-content: center
    margin-top: 200px
    background-color: rgba(0, 0, 0, .2)
    font-size: 0.8em

//home
.content__wrapper
  position: relative
  overflow: hidden
  .home__wrapper
    background-color: black
    width: 100vw
    height: 100vh
    .home__main
      position: absolute !important
      top: 0
      left: 50%
      transform: translateX(-50%)
      width: 1024px
      height: 100vh
      margin: 0 auto
      display: flex
      align-items: center
      position: relative
      .top_logo
        width: 590px
        margin-left: -33px
        z-index: 2
      .plankton_img
        position: absolute        
      .plankton_img_1
        width: 560px
        top: -59px
        right: -120px
        transform: scale(-1, 1) rotate(-43deg)
      .plankton_img_2
        width: 686px
        left: -450px
        top: 41px
        transform: rotate(3deg)
      .plankton_img_3
        bottom: -97px
        width: 472px
        transform: scale(-1, 1)
        left: -250px
      .plankton_img_4
        width: 340px
        transform: rotate(-110deg)
        right: 371px
        top: 133px
      .plankton_img_5
        width: 750px
        right: -153px
        bottom: -80px
      .scroll-btn
        color: white
        font-size: 14px
        position: absolute
        bottom: 0px
        left: 50%
        z-index: 2
        display: inline-block
        -webkit-transform: translate(0, -50%)
        transform: translate(0, -50%)
        text-decoration: none
        padding-top: 70px
        span
          position: absolute
          top: 0
          left: 50%
          width: 24px
          height: 24px
          margin-left: -12px
          border-left: 1px solid #fff
          border-bottom: 1px solid #fff
          -webkit-transform: rotateZ(-45deg)
          transform: rotateZ(-45deg)
          -webkit-animation: sdb 1.5s infinite
          animation: sdb 1.5s infinite
          box-sizing: border-box
@-webkit-keyframes sdb
  0%
    -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0)
    opacity: 0
  50%
    opacity: 1
  100%
    -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px)
    opacity: 0
@keyframes sdb
  0%
    transform: rotateY(0) rotateZ(-45deg) translate(0, 0)
    opacity: 0
  50%
    opacity: 1
  100%
    transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px)
    opacity: 0

//program
.program_pdf_section
  margin-top: 16px
  margin-left: 21px
  .program_pdf
    text-decoration: none
    line-height: 1.7em
    font-size: 15px
#young_member_meeting
  .program__table
    td
      text-align: left
      padding-left: 10px
    .young_member_meeting__table-title
      width: 158px
    .young_member_meeting__table-schedule
      display: flex
      &:nth-of-type(1)
        margin-bottom: 13px    
      dt
        margin-right: 20px
      .young_member_meeting__table-schedule-discription
        display: flex
        flex-direction: column
        text-align: left
.table__comments
  margin-left: 0 !important
  font-size: .9em !important
  color: gray

//subscription
.subscription__bank_section
  margin: 30px 0 30px 44px
//venue
.file_1,
.file_2,
.file_3,
.file_4,
.file_5
  width: 100%
  z-index: -1
.file_1
  margin: 0px auto -3px
.file_2,
.file_3,
.file_4,
.file_5
  margin: 0px auto -48px
  width: 100%
  height: auto
.floor_map__wrapper
  display: flex

//subscription
.registration_table
  .rowspan_2
    vertical-align: middle
    background: #f9f8f5

/* ウィンドウ幅が0〜479pxの場合に適用するCSS */
@media screen and ( max-width:479px )
	body
    table
      width: 100%    
    header
      background: none
      border: none
      height: 38px
      .hamburger
        display: block
        background: black
        height: 38px
        display: flex
        align-items: center
        i
          color: white
          margin-left: 10px
      nav
        display: none
        ul.global-nav__wrapper
          display: flex
          flex-direction: column
          align-items: flex-start
          justify-content: flex-start
          height: 256px
          box-shadow: 0px 2px 10px rgba(0, 0, 0, .2)
          .nav__list-parent
            background: #f9f8f5
            width: 100vw
            padding-left: 10px
            padding-top: 0
            padding-right: 0
            padding-bottom: 0
            color: #333
            line-height: 2em
            border-bottom: .5px solid rgba(0, 0, 0, .3)
            a.main__title
              padding: 0
              line-height: 1em
              color: #333
            i
              display: none
            ul
              display: none
    .content__header-section
      height: 38px
    .content__wrapper
      .home__wrapper
        .home__main
          width: 100vw
          .top_logo
            width: 370px
            margin-left: 0
          .plankton_img_1,
          .plankton_img_2,
          .plankton_img_5
            display: none
          .plankton_img_3
            left: -220px
            bottom: -157px
          .plankton_img_4
            right: -90px
            top: 73px
    .content-box__wrapper
      width: 90vw
      .content-box
        width: 90vw