body {
  font-family: "Noto Sans Japanese"; }

header {
  border-top: 2px solid #37474F;
  height: 96px; }
  header .logo-img {
    width: 330px;
    margin: 5px 0 0 20px; }
  header.fixed {
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999; }
  header nav ul {
    margin: 5px 9px;
    width: 815px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0; }
    header nav ul li {
      list-style: none;
      font-size: 12px;
      padding: 0 15px; }
      header nav ul li a {
        text-decoration: none;
        color: #555;
        line-height: 1.5em; }
      header nav ul li a::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #F7B633;
        transition: width .3s; }
      header nav ul li a:hover::after {
        width: 100%; }

.home__main {
  width: 100vw;
  height: 250px;
  background: url("../assets/main-bg.jpg") no-repeat;
  background-size: 100%;
  display: flex;
  align-items: center; }
  .home__main .home__main__letter {
    width: 492px;
    height: 157px;
    padding: 0 38px 7px;
    background-color: rgba(0, 0, 0, 0.5); }
    .home__main .home__main__letter p {
      color: white;
      margin: 0; }
    .home__main .home__main__letter .letter__title-1 {
      font-size: 41px;
      margin-bottom: -3px; }
    .home__main .home__main__letter .letter__title-2 {
      font-size: 41px; }
    .home__main .home__main__letter .letter__date {
      font-size: 35px; }
    .home__main .home__main__letter .letter__place {
      font-size: 22px; }

.home__content {
  width: 90vw;
  margin: 0 auto; }
