@charset "UTF-8";
@import url("https://fonts.googleapis.com/earlyaccess/sawarabimincho.css");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:200");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:500");
@import url("normalize.css");
#body {
  font-family: 'Work Sans', sans-serif;
  background: #f9f8f5; }

body .content__title {
  margin-top: 20px; }

body .content__title-en {
  font-family: 'Work Sans', sans-serif;
  font-size: 50px;
  font-weight: 200;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 3px; }

body .content__title-ja {
  text-align: center;
  font-size: 1.1em;
  opacity: 0.8;
  margin-top: 10px;
  margin-bottom: 40px; }

body .content-box__wrapper {
  width: 800px;
  margin: -30px auto 0;
  color: #333; }
  body .content-box__wrapper.guide .guide_table {
    width: 787px;
    margin-left: 15px;
    border: none; }
    body .content-box__wrapper.guide .guide_table .title {
      width: 421px; }
    body .content-box__wrapper.guide .guide_table td {
      border: none;
      text-align: left; }
    body .content-box__wrapper.guide .guide_table tr:nth-child(even) {
      background: transparent; }
  body .content-box__wrapper.guide .climing_way_list {
    display: flex;
    align-items: center;
    margin-top: 17px;
    margin-bottom: 4px; }
    body .content-box__wrapper.guide .climing_way_list .icon_foot {
      width: 25px;
      height: 25px;
      margin-left: 23px; }
    body .content-box__wrapper.guide .climing_way_list .climing_way_name {
      font-weight: 600; }
  body .content-box__wrapper.guide .accommodation_list {
    margin-left: 15px;
    margin-bottom: 15px; }
    body .content-box__wrapper.guide .accommodation_list dt {
      margin-bottom: 10px; }
      body .content-box__wrapper.guide .accommodation_list dt a {
        color: #333;
        font-weight: 600; }
    body .content-box__wrapper.guide .accommodation_list dd p {
      line-height: 1.3em;
      color: gray;
      font-size: 14.5px;
      margin-bottom: 5px; }
  body .content-box__wrapper.deadline p {
    line-height: 1.7em;
    font-size: 16px;
    margin-left: 20px; }
  body .content-box__wrapper.log ul li {
    line-height: 1.7em;
    font-size: 16px;
    margin-left: 20px; }

body .content-box {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width: 800px;
  margin: 0 auto;
  margin-top: 110px; }
  body .content-box p {
    line-height: 1.7em;
    font-size: 16px;
    margin-left: 20px; }
  body .content-box .content-box__article {
    margin-bottom: 80px; }

body .sub-title__wrapper .content__title-small {
  color: rgba(95, 158, 160, 0.9);
  margin-bottom: 15px;
  border-left: 4px solid rgba(95, 158, 160, 0.9);
  padding: 7px 15px;
  font-size: 22px;
  letter-spacing: 1px; }
  body .sub-title__wrapper .content__title-small.deadline {
    margin-top: 110px; }

body table {
  margin-top: 10px; }

body table, body th, body td {
  border-collapse: collapse;
  border: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 1.5;
  padding: 3px 7px 3px 7px;
  font-size: 15px;
  margin: 35px auto 4px;
  width: 800px;
  text-align: center;
  padding: 5px; }

body tr:nth-child(even) {
  background: rgba(0, 0, 0, 0.05); }

body .emphasis_underline {
  font-weight: 600;
  text-decoration: underline; }

body .title_underline {
  font-weight: 600;
  display: inline-block;
  border-bottom: 1px solid black;
  line-height: 1.2em !important; }
  body .title_underline.guide {
    font-size: 16px;
    margin-bottom: 5px; }

body .content__header-section {
  width: 100vw;
  height: 79px; }

body .content__main-title {
  padding: 7px 0;
  background-color: rgba(95, 158, 160, 0.9);
  position: fixed;
  width: 100vw; }
  body .content__main-title h1 {
    text-align: center;
    font-size: 17px;
    color: white;
    letter-spacing: 2px; }

body .common__list li {
  list-style: none;
  line-height: 1.7em; }
  body .common__list li:last-of-type {
    margin-bottom: 45px; }

body .common__list.bus {
  margin-top: 27px;
  margin-left: 23px; }
  body .common__list.bus li {
    line-height: 2.4em; }
    body .common__list.bus li:before {
      content: '\f207';
      font-family: FontAwesome;
      margin-right: 8px;
      color: rgba(95, 158, 160, 0.9); }

body .common__list.campus_map {
  margin-left: 39px;
  margin-top: 4px; }
  body .common__list.campus_map li {
    list-style: inherit; }

body .common__list.campus_map_2 {
  margin-left: 21px;
  margin-top: 4px; }

body .common__list.access {
  margin-top: 27px;
  margin-left: 23px; }
  body .common__list.access li {
    line-height: 2em; }
    body .common__list.access li:before {
      content: '\f207';
      font-family: FontAwesome;
      margin-right: 8px;
      color: rgba(95, 158, 160, 0.9); }

body ol, body ul {
  line-height: 1.7em; }

header {
  border-top: 2px solid #37474F;
  height: 96px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.7);
  height: 77px; }
  header .hamburger {
    display: none; }
  header .logo-img {
    width: 330px;
    margin: 5px 0 0 20px; }
  header nav ul.global-nav__wrapper {
    font-size: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 77px; }
    header nav ul.global-nav__wrapper .nav__list-parent {
      font-size: 14px;
      color: white;
      line-height: 1.7em;
      display: inline-block;
      padding: 28px 15px;
      position: relative;
      text-decoration: none; }
      header nav ul.global-nav__wrapper .nav__list-parent ul {
        display: none;
        background: rgba(255, 255, 255, 0.8);
        color: #333;
        top: 62px; }
      header nav ul.global-nav__wrapper .nav__list-parent:nth-of-type(8) ul {
        top: 72px; }
      header nav ul.global-nav__wrapper .nav__list-parent a.main__title {
        text-decoration: none;
        color: white; }
      header nav ul.global-nav__wrapper .nav__list-parent:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.1);
        color: rgba(95, 158, 160, 0.9); }
        header nav ul.global-nav__wrapper .nav__list-parent:hover a.main__title {
          color: rgba(95, 158, 160, 0.9); }
        header nav ul.global-nav__wrapper .nav__list-parent:hover ul {
          display: block;
          margin-top: 15px;
          width: 200px;
          position: absolute;
          left: 0; }
          header nav ul.global-nav__wrapper .nav__list-parent:hover ul li {
            display: block;
            padding: 3px 0 3px 15px; }
            header nav ul.global-nav__wrapper .nav__list-parent:hover ul li a {
              color: #333;
              text-decoration: none; }
            header nav ul.global-nav__wrapper .nav__list-parent:hover ul li:hover {
              background-color: rgba(0, 0, 0, 0.1); }
    header nav ul.global-nav__wrapper .nav__list-parent:hover ul {
      display: block; }

footer #footer__inner {
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 0.8em; }

.content__wrapper {
  position: relative;
  overflow: hidden; }
  .content__wrapper .home__wrapper {
    background-color: black;
    width: 100vw;
    height: 100vh; }
    .content__wrapper .home__wrapper .home__main {
      position: absolute !important;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 1024px;
      height: 100vh;
      margin: 0 auto;
      display: flex;
      align-items: center;
      position: relative; }
      .content__wrapper .home__wrapper .home__main .top_logo {
        width: 590px;
        margin-left: -33px;
        z-index: 2; }
      .content__wrapper .home__wrapper .home__main .plankton_img {
        position: absolute; }
      .content__wrapper .home__wrapper .home__main .plankton_img_1 {
        width: 560px;
        top: -59px;
        right: -120px;
        transform: scale(-1, 1) rotate(-43deg); }
      .content__wrapper .home__wrapper .home__main .plankton_img_2 {
        width: 686px;
        left: -450px;
        top: 41px;
        transform: rotate(3deg); }
      .content__wrapper .home__wrapper .home__main .plankton_img_3 {
        bottom: -97px;
        width: 472px;
        transform: scale(-1, 1);
        left: -250px; }
      .content__wrapper .home__wrapper .home__main .plankton_img_4 {
        width: 340px;
        transform: rotate(-110deg);
        right: 371px;
        top: 133px; }
      .content__wrapper .home__wrapper .home__main .plankton_img_5 {
        width: 750px;
        right: -153px;
        bottom: -80px; }
      .content__wrapper .home__wrapper .home__main .scroll-btn {
        color: white;
        font-size: 14px;
        position: absolute;
        bottom: 0px;
        left: 50%;
        z-index: 2;
        display: inline-block;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        text-decoration: none;
        padding-top: 70px; }
        .content__wrapper .home__wrapper .home__main .scroll-btn span {
          position: absolute;
          top: 0;
          left: 50%;
          width: 24px;
          height: 24px;
          margin-left: -12px;
          border-left: 1px solid #fff;
          border-bottom: 1px solid #fff;
          -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
          -webkit-animation: sdb 1.5s infinite;
          animation: sdb 1.5s infinite;
          box-sizing: border-box; }

@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0; } }

@keyframes sdb {
  0% {
    transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0; } }

.program_pdf_section {
  margin-top: 16px;
  margin-left: 21px; }
  .program_pdf_section .program_pdf {
    text-decoration: none;
    line-height: 1.7em;
    font-size: 15px; }

.program_subscription_section {
  display: flex;
  align-items: center; }
  .program_subscription_section i {
    margin-right: -12px; }

.program_subscription_list {
  margin: 20px 0 20px 40px; }

#young_member_meeting .program__table td {
  text-align: left;
  padding-left: 10px; }

#young_member_meeting .program__table .young_member_meeting__table-title {
  width: 158px; }

#young_member_meeting .program__table .young_member_meeting__table-schedule {
  display: flex; }
  #young_member_meeting .program__table .young_member_meeting__table-schedule:nth-of-type(1) {
    margin-bottom: 13px; }
  #young_member_meeting .program__table .young_member_meeting__table-schedule dt {
    margin-right: 20px; }
  #young_member_meeting .program__table .young_member_meeting__table-schedule .young_member_meeting__table-schedule-discription {
    display: flex;
    flex-direction: column;
    text-align: left; }

.table__comments {
  margin-left: 0 !important;
  font-size: .9em !important;
  color: gray; }

.gray__comments {
  font-size: .9em !important;
  color: gray; }

.subscription__bank_section {
  margin: 10px 0 10px 44px; }

.application_download {
  margin-top: 18px;
  margin-bottom: 50px; }

.file_1,
.file_2,
.file_3,
.file_4,
.file_5 {
  width: 100%;
  z-index: -1; }

.file_1 {
  margin: 0px auto -3px; }

.file_2,
.file_3,
.file_4,
.file_5 {
  margin: 0px auto -48px;
  width: 100%;
  height: auto; }

.floor_map__wrapper {
  display: flex; }

.registration_table .rowspan_2 {
  vertical-align: middle;
  background: #f9f8f5; }

/* ウィンドウ幅が0〜479pxの場合に適用するCSS */
@media screen and (max-width: 479px) {
  body table {
    width: 100%; }
  body header {
    background: none;
    border: none;
    height: 38px; }
    body header .hamburger {
      display: block;
      background: black;
      height: 38px;
      display: flex;
      align-items: center; }
      body header .hamburger i {
        color: white;
        margin-left: 10px; }
    body header nav {
      display: none; }
      body header nav ul.global-nav__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 256px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2); }
        body header nav ul.global-nav__wrapper .nav__list-parent {
          background: #f9f8f5;
          width: 100vw;
          padding-left: 10px;
          padding-top: 0;
          padding-right: 0;
          padding-bottom: 0;
          color: #333;
          line-height: 2em;
          border-bottom: 0.5px solid rgba(0, 0, 0, 0.3); }
          body header nav ul.global-nav__wrapper .nav__list-parent a.main__title {
            padding: 0;
            line-height: 1em;
            color: #333; }
          body header nav ul.global-nav__wrapper .nav__list-parent i {
            display: none; }
          body header nav ul.global-nav__wrapper .nav__list-parent ul {
            display: none; }
  body .content__header-section {
    height: 38px; }
  body .content__wrapper .home__wrapper .home__main {
    width: 100vw; }
    body .content__wrapper .home__wrapper .home__main .top_logo {
      width: 90%;
      margin-left: 0; }
    body .content__wrapper .home__wrapper .home__main .plankton_img_1,
    body .content__wrapper .home__wrapper .home__main .plankton_img_2,
    body .content__wrapper .home__wrapper .home__main .plankton_img_5 {
      display: none; }
    body .content__wrapper .home__wrapper .home__main .plankton_img_3 {
      left: -220px;
      bottom: -157px; }
    body .content__wrapper .home__wrapper .home__main .plankton_img_4 {
      right: -90px;
      top: 73px; }
  body .content-box__wrapper {
    width: 90vw; }
    body .content-box__wrapper .content-box {
      width: 90vw; } }
